/* Здесь будут описаны все стили проекта */

body {
    padding: 0;
    margin: 0;
    background-color: #111;
    display: flex;
    font-family: "Dela Gothic One", sans-serif;
}

.main-page { 
    background-color: #111;
    height: 100vh;
}

.window-register {
    background-color: #262626;
    border-radius: 50px;
    width: 800px;
    height: 600px;
    display: flex;
    margin: 80px;
    color: #fff;
    text-align: center;
    align-items: start;
    justify-content: center;
}

.window-sign {
    background-color: #262626;
    border-radius: 50px;
    width: 800px;
    height: 600px;
    display: flex;
    margin: 80px;
}